body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #111;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

.container {
    padding: 30px;
}

.card {
    background-color: #1a1a1a;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    display: block;
}

.card:hover {
    background-color: #222;
}

.green { color: #00ff7f; }
.orange { color: orange; }
.red { color: red; }

.button {
    padding: 12px 20px;
    background-color: #00ff7f;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.system-box {
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.status {
    font-weight: bold;
}
